@keyframes link-bold {
  from {
    font-weight: 300;
  }
  to {
    font-weight: 700;
  }
}

@keyframes link-normal {
  from {
    font-weight: 700;
  }
  to {
    font-weight: 300;
  }
}

.link {
  color: #88c0d0;
  font-family: "Fira Code";
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.link:visited {
  color: #b48ead;
}

.linkBold {
  animation-name: link-bold;
}

.linkNormal {
  animation-name: link-normal;
}
