@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Tourney:wght@100..900&display=swap");

@import url("./404/404.css");
@import url("./shared/fancyLink.css");
@import url("./shared/header.css");
@import url("./resume/resume.css");

body {
  background-color: #2e3440;
  font-family: "Fira Code";
  font-weight: 300;
  color: #eceff4;
  font-size: 15px;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}
html {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 701px) {
  body {
    font-size: 20px;
  }
}
