@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Tourney:wght@100..900&display=swap");

/* https://fontawesome.com/how-to-use/on-the-web/other-topics/server-side-rendering */
@import url("https://use.fontawesome.com/releases/v5.13.1/css/svg-with-js.css");

@import url("./shared/fancyLink.css");
@import url("./shared/header.css");
@import url("./resume/resume.css");

body {
  background-color: #000;
  font-family: "Fira Code";
  font-size: 30px;
  color: #fff;
  margin: 0vw;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
